@font-face { font-family: geist; src: url('../Fonts/Geist.ttf'); }          /* Default Text */
@font-face { font-family: phonk; src: url('../Fonts/Phonk.ttf'); }          /* Titles */
@font-face { font-family: orbitron; src: url('../Fonts/Orbitron.ttf'); }    /* About Image Text */
@font-face { font-family: roboto; src: url('../Fonts/RobotoMono.ttf'); }    /* Home Small Text */
@font-face { font-family: lemon; src: url('../Fonts/LemonMilk.ttf'); }      /* Footer Quote */

html {
    /* Size */
    width: 100%;
    height: 100dvh;

    /* Spacing */
    padding: 0;
    margin: 0;

    /* Text */
    font-family: geist;
    font-size: 16px;
    user-select: none;

    /* Other */
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;

    /* Colors */
    --bg: #000000;
    --hover: rgba(255, 255, 255, 0.2);
    --border: solid 2px var(--hover);
    --backdrop: rgba(0, 0, 0, 0.4);

    /* Text */
    --text: #f5f5f5;
    --textFilter: brightness(0) invert(1);
    --textAlt: #546483;
    --textAltFilter: brightness(0) saturate(100%) invert(35%) sepia(24%) saturate(606%) hue-rotate(181deg) brightness(92%) contrast(86%);
    --link: #f32853;
    --linkFilter: brightness(0) invert(29%) sepia(74%) saturate(2123%) hue-rotate(327deg) brightness(83%) contrast(111%);
}

html[light] {
    /* Colors */
    --bg: #f5f5f5;
    --hover: rgba(0, 0, 0, 0.2);
    --border: solid 2px var(--hover);
    --backdrop: rgba(0, 0, 0, 0.4);

    /* Text */
    --text: #000000;
    --textFilter: brightness(0);
    --textAlt: #7283a7;
    --textAltFilter: brightness(0) saturate(100%) invert(58%) sepia(24%) saturate(506%) hue-rotate(183deg) brightness(84%) contrast(87%);
    --link: #f32853;
    --linkFilter: brightness(0) invert(29%) sepia(74%) saturate(2123%) hue-rotate(327deg) brightness(83%) contrast(111%);
}

body {
    /* Size */
    width: 100%;
    height: 100dvh;

    /* Spacing */
    padding: 0;
    margin: 0;

    /* Layout */
    display: flex;
    flex-direction: row;

    /* Visuals */
    background: var(--bg);
    color: var(--text);
    fill: var(--text);

    /* Spacing */
    --sidebarSpacing: 80px;
    --pageSpacing: 20px;
}

body[noscroll] {
    /* Other */
    overflow: hidden;
}

@media screen and (orientation:portrait) {
    body[sidebar] {
        /* Other */
        overflow: hidden;
    }
}

@media screen and (orientation:portrait) {
    body {
        /* Spacing */
        --sidebarSpacing: 0px;
        --pageSpacing: 10px;
    }
}

/* Block image grab */
img {
    -webkit-user-drag: none;
}

/* Links */
a {
    /* Text */
    text-decoration: none;
}

a:not([class]) {
    /* Visuals */
    color: var(--link);
}

/* Scrollbar */
::-webkit-scrollbar {
    /* Size */
    width: 14px;
    height: 14px;
}

::-webkit-scrollbar-thumb {
    /* Visuals */
    background-color: var(--text);
    border-radius: 7px;
    border: solid 4px transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    /* Visuals */
    border: solid 3px transparent;
}

/* Buttons */
.button {
    /* Size */
    width: fit-content;
    height: fit-content;

    /* Spacing */
    padding: 8px 16px;

    /* Layout */
    display: flex;

    /* Text */
    color: var(--text);
    font-size: 1rem;

    /* Style */
    border: solid 1px var(--text);
    border-radius: 30px;
    
    /* Other */
    cursor: pointer;
    transition: border .2s, background-color .2s;
}

.button:hover {
    /* Style */
    background-color: var(--hover);
}

/* Appear animation */
.appear {
    opacity: 0;
}

.appear[appeared] {
    opacity: unset;
    animation: appear ease-out .6s;
}

@keyframes appear {
    from {
        transform: translateY(80px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}



 /*$                                 /$$ /$$
| $$                                | $$|__/
| $$        /$$$$$$   /$$$$$$   /$$$$$$$ /$$ /$$$$$$$   /$$$$$$
| $$       /$$__  $$ |____  $$ /$$__  $$| $$| $$__  $$ /$$__  $$
| $$      | $$  \ $$  /$$$$$$$| $$  | $$| $$| $$  \ $$| $$  \ $$
| $$      | $$  | $$ /$$__  $$| $$  | $$| $$| $$  | $$| $$  | $$
| $$$$$$$$|  $$$$$$/|  $$$$$$$|  $$$$$$$| $$| $$  | $$|  $$$$$$$
|________/ \______/  \_______/ \_______/|__/|__/  |__/ \____  $$
                                                       /$$  \ $$
                                                      |  $$$$$$/
                                                       \_____*/

.loading {
    /* Size */
    width: 100%;
    height: 100%;

    /* Layouts */
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    /* Text */
    font-family: roboto;

    /* Visuals */
    background-color: var(--bg);

    /* Other */
    z-index: 999;
    transition: opacity 1s;
}

.loading[loaded] {
    /* Visuals */
    opacity: 0;

    /* Other */
    pointer-events: none;
}

.loadingBar {
    /* Size */
    width: 250px;
    height: 4px;

    /* Visuals */
    background-color: var(--hover);
    --fill: 0%;
}

.loadingBar > div {
    /* Size */
    width: var(--fill);
    height: 100%;
    
    /* Visuals */
    background-color: var(--text);
}


                                                       
  /*$$$$$  /$$       /$$           /$$                          
 /$$__  $$|__/      | $$          | $$                          
| $$  \__/ /$$  /$$$$$$$  /$$$$$$ | $$$$$$$   /$$$$$$   /$$$$$$ 
|  $$$$$$ | $$ /$$__  $$ /$$__  $$| $$__  $$ |____  $$ /$$__  $$
 \____  $$| $$| $$  | $$| $$$$$$$$| $$  \ $$  /$$$$$$$| $$  \__/
 /$$  \ $$| $$| $$  | $$| $$_____/| $$  | $$ /$$__  $$| $$      
|  $$$$$$/| $$|  $$$$$$$|  $$$$$$$| $$$$$$$/|  $$$$$$$| $$      
 \______/ |__/ \_______/ \_______/|_______/  \_______/|_*/

/* Sidebar toggle */
.sidebarToggle {
    /* Size */
    width: 50px;
    height: 50px;

    /* Layout */
    box-sizing: border-box;
    position: fixed;
    top: 15px;
    left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

    /* Visuals */
    background-color: var(--bg);
    border: var(--border);
    border-radius: 15px;
    opacity: 0;

    /* Other */
    z-index: 90;
    pointer-events: none;
}

.sidebarToggle::after {
    content: '';

    /* Size */
    width: 100%;
    height: 100%;

    /* Layout */
    position: absolute;
    top: 0;
    left: 0;

    /* Visuals */
    background-color: var(--hover);
    border-radius: inherit;
    opacity: 0;

    /* Other */
    transition: opacity .2s;
}

.sidebarToggle:hover::after {
    /* Visuals */
    opacity: 1;
}

.sidebarToggle > img {
    /* Size */
    width: 20px;
    height: 20px;

    /* Visuals */
    filter: var(--textFilter);
}

@media screen and (orientation:portrait) {
    .sidebarToggle {
        /* Visuals */
        opacity: 1;

        /* Other */
        pointer-events: unset;
    }
}

/* Sidebar */
.sidebar {
    /* Size */
    width: 100%;
    height: calc(100dvh + var(--sidebarHiddenMargin));
    
    /* Layout */
    position: fixed;
    top: 0;
    left: 0;

    /* Visuals */
    background-color: transparent;

    /* Other */
    z-index: 100;
    overflow-y: hidden;
    pointer-events: none;
    transition: background-color .2s, height .2s;

    /* Variables */
    --sidebarHiddenMargin: 300px; /* To fix viewport height changing in mobile */
    --sidebarBorder: 2px;
    --sidebarWidth: var(--sidebarWidthClosed);
    --sidebarWidthOpen: 240px;
    --sidebarWidthClosed: 80px;
    --sidebarTransition: width .2s;
}

@media screen and (orientation:portrait) {
    .sidebar {
        --sidebarWidth: 0px;
    }

    .sidebar:not([open]) {
        --sidebarBorder: 0px;
    }

    .sidebar[open] {
        /* Visuals */
        background-color: var(--backdrop);

        /* Other */
        pointer-events: all;
        
        /* Variables */
        --sidebarWidth: var(--sidebarWidthOpen);
    }
}

.sidebarLayout {
    /* Size */
    width: var(--sidebarWidth);
    height: 100%;

    /* Spacing */
    padding: 100px 0 calc(100px + var(--sidebarHiddenMargin)) 0;

    /* Layout */
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 5px;

    /* Visuals */
    background-color: var(--bg);
    border-right: solid var(--sidebarBorder) var(--hover);

    /* Other */
    overflow-x: hidden;
    pointer-events: all;
    transition: var(--sidebarTransition);
}

@media screen and (orientation:landscape) {
    .sidebarLayout:hover {
        --sidebarWidth: var(--sidebarWidthOpen);
    }
}

/* Sidebar buttons */
.sidebarButton {
    /* Size */
    width: calc(var(--sidebarWidth) - calc(20px + var(--sidebarBorder)));
    height: 40px;

    /* Spacing */
    margin: 0 10px;
    padding-left: calc(calc(var(--sidebarWidthClosed) - 40px) / 2);

    /* Layout */
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    /* Visuals */
    border-radius: 20px;
    
    /* Other */
    cursor: pointer;
    transition: var(--sidebarTransition), background-color .2s;
}

.sidebarButton:hover {
    /* Visuals */
    background-color: var(--hover);
}

.sidebarButton[hidden] {
    /* Layout */
    display: none;
}

.sidebarButton > img {
    /* Size */
    width: 20px;
    height: 20px;
    
    /* Visuals */
    filter: var(--textFilter);
}

.sidebarButton > span {
    /* Text */
    white-space: nowrap;

    /* Visuals */
    opacity: 0;

    /* Other */
    transition: opacity .2s;
}

.sidebarLayout:hover > .sidebarButton > span {
    /* Visuals */
    opacity: 1;
}

@media screen and (orientation:portrait) {
    .sidebar[open] .sidebarButton > span {
        /* Visuals */
        opacity: 1;
    }
}

.sidebarButton > indicator {
    /* Size */
    width: 4px;

    /* Layout */
    position: absolute;
    top: 0;
    bottom: 0;
    right: -10px;

    /* Visuals */
    background-color: var(--text);
    border-radius: 2px;
    opacity: 0;

    /* Other */
    pointer-events: none;
    transition: opacity .2s;
}

.sidebarButton[selected] > indicator {
    /* Visuals */
    opacity: 1;
}



  /*$$$$$                                /$$       /$$                          
 /$$__  $$                              | $$      | $$                          
| $$  \__/ /$$$$$$$   /$$$$$$   /$$$$$$$| $$   /$$| $$$$$$$   /$$$$$$   /$$$$$$ 
|  $$$$$$ | $$__  $$ |____  $$ /$$_____/| $$  /$$/| $$__  $$ |____  $$ /$$__  $$
 \____  $$| $$  \ $$  /$$$$$$$| $$      | $$$$$$/ | $$  \ $$  /$$$$$$$| $$  \__/
 /$$  \ $$| $$  | $$ /$$__  $$| $$      | $$_  $$ | $$  | $$ /$$__  $$| $$      
|  $$$$$$/| $$  | $$|  $$$$$$$|  $$$$$$$| $$ \  $$| $$$$$$$/|  $$$$$$$| $$      
 \______/ |__/  |__/ \_______/ \_______/|__/  \__/|_______/  \_______/|_*/      

#snackbar {
    /* Size */
    min-width: 150px;
    max-width: 500px;

    /* Spacing */
    padding: 15px 25px;

    /* Layout */
    position: fixed;
    bottom: 0;

    /* Text */
    text-align: center;

    /* Visuals */
    border-radius: 30px;
    background-color: var(--bg);
    border: var(--border);
    outline: transparent;
    color: var(--text);
    opacity: 1;
    
    /* Other */
    z-index: 999;
    pointer-events: none;
}

#snackbar[open] {
    /* Other */
    animation: snackbar 3s forwards;
}

@keyframes snackbar {
    0% {
        transform: translateY(0);
        opacity: 0;
    }
    25% {
        transform: translateY(-20px);
        opacity: 1;
    }
    75% {
        transform: translateY(-20px);
        opacity: 1;
    }
    100% {
        transform: translateY(0);
        opacity: 0;
    }
}



 /*$      /$$                                        
| $$$    /$$$                                        
| $$$$  /$$$$  /$$$$$$  /$$$$$$$  /$$   /$$  /$$$$$$$
| $$ $$/$$ $$ /$$__  $$| $$__  $$| $$  | $$ /$$_____/
| $$  $$$| $$| $$$$$$$$| $$  \ $$| $$  | $$|  $$$$$$ 
| $$\  $ | $$| $$_____/| $$  | $$| $$  | $$ \____  $$
| $$ \/  | $$|  $$$$$$$| $$  | $$|  $$$$$$/ /$$$$$$$/
|__/     |__/ \_______/|__/  |__/ \______/ |______*/

/* Menu backdrop (click to close) */
dialog:not(#snackbar)::backdrop {
    /* Visuals */
    background-color: var(--backdrop);
}

/* Menu container */
dialog:not(#snackbar) {
    /* Size */
    width: 400px;
    max-width: calc(100% - 20px);
    max-height: calc(100% - 20px);
    
    /* Spacing */
    padding: 0;
    margin: auto;

    /* Layout */
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;

    /* Visuals */
    border-radius: 25px;
    background-color: var(--bg);
    border: var(--border);
    outline: transparent;
    color: var(--text);
    opacity: 0;

    /* Other */
    z-index: 500;
    user-select: none;
    pointer-events: none;
    transition: opacity .2s ease;
}

dialog:not(#snackbar)[open] {
    /* Visuals */
    opacity: 1;

    /* Other */
    pointer-events: auto;
}

/* Menu title */
.menuTitle {
    /* Text */
    text-transform: uppercase;
    font-family: phonk;
    font-size: 1.4em;
    line-height: 80px;
}

@media screen and (orientation:portrait) {
    .menuTitle {
        /* Text */
        font-size: 1.3em;
    }
}

/* Menu close button */
.menuClose {
    /* Size */
    height: 40px;
    width: 40px;

    /* Layout */
    box-sizing: border-box;
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    /* Visuals */
    border: solid 2px transparent;
    border-radius: 40px;

    /* Other */
    cursor: pointer;
    transition: background-color .2s, border .2s;
}

.menuClose img {
    /* Size */
    height: 14px;
    width: 14px;

    /* Visuals */
    filter: var(--textFilter);
}

.menuClose:hover {
    /* Visuals */
    background-color: color-mix(in srgb, var(--accent) 30%, transparent);
    border: solid 2px var(--text);
}



  /*$$$$$            /$$       /$$                                                                   /$$             
 /$$__  $$          | $$      |__/                                                                  | $$             
| $$  \ $$  /$$$$$$$| $$$$$$$  /$$  /$$$$$$  /$$    /$$ /$$$$$$  /$$$$$$/$$$$   /$$$$$$  /$$$$$$$  /$$$$$$   /$$$$$$$
| $$$$$$$$ /$$_____/| $$__  $$| $$ /$$__  $$|  $$  /$$//$$__  $$| $$_  $$_  $$ /$$__  $$| $$__  $$|_  $$_/  /$$_____/
| $$__  $$| $$      | $$  \ $$| $$| $$$$$$$$ \  $$/$$/| $$$$$$$$| $$ \ $$ \ $$| $$$$$$$$| $$  \ $$  | $$   |  $$$$$$ 
| $$  | $$| $$      | $$  | $$| $$| $$_____/  \  $$$/ | $$_____/| $$ | $$ | $$| $$_____/| $$  | $$  | $$ /$$\____  $$
| $$  | $$|  $$$$$$$| $$  | $$| $$|  $$$$$$$   \  $/  |  $$$$$$$| $$ | $$ | $$|  $$$$$$$| $$  | $$  |  $$$$//$$$$$$$/
|__/  |__/ \_______/|__/  |__/|__/ \_______/    \_/    \_______/|__/ |__/ |__/ \_______/|__/  |__/   \___/ |______*/ 

/* Achievements description */
#achievementsDescription {
    margin: 0 40px 18px 40px;
    text-align: center;
}

/* Achievements list */
#achievementsList {
    /* Size */
    width: 100%;

    /* Spacing */
    padding: 10px 0;
    margin-bottom: 10px;

    /* Layout */
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
}

/* Achievement items */
.achievement {
    /* Size */
    height: calc(120px - 26px);
    width: calc(100% - 40px - 26px - 4px); /* Margin, Padding, Border */

    /* Spacing */
    padding: 13px;
    margin: 0 20px;

    /* Layout */
    position: relative;
    display: flex;
    gap: 15px;

    /* Visuals */
    border: solid 2px var(--text);
    border-radius: 25px;
    background: var(--bg);

    /* Other */
    transition: transform .2s;
}

.achievement:hover {
    /* Other */
    transform: rotate(-.5deg) scale(1.01);
}

.achievement > img {
    /* Size */
    height: 100%;
    aspect-ratio: 1;

    /* Visuals */
    border-radius: 15px;
}

.achievement > div {
    /* Size */
    height: 90px;
    flex-grow: 1;

    /* Layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.achievement > div > div:nth-child(1) {
    /* Text */
    font-family: phonk;
    font-size: 16px;
    text-align: center;
}

.achievement > div > div:nth-child(2) {
    /* Text */
    text-align: center;
}

.achievement > span {
    /* Size */
    width: 100%;
    height: 100%;

    /* Layout */
    position: absolute;
    top: 0;
    left: 0;

    /* Text */
    text-transform: uppercase;
    font-family: phonk;
    line-height: 120px;
    font-size: 26px;
    text-align: center;

    /* Visuals */
    opacity: 0;
}

.achievement[locked] > span {
    /* Visuals */
    opacity: 1;
    background-color: var(--bg);
    border-radius: inherit;
}

/* Dot indicator */
.dotIndicator {
    /* Size */
    width: 10px;
    height: 10px;

    /* Layout */
    position: absolute;
    top: 0;
    right: 0;

    /* Visuals */
    background-color: #f32853;
    border-radius: 50%;

    /* Other */
    visibility: hidden;
    /*animation: dotIndicator 1s infinite;*/
}

.dotIndicator[active] {
    /* Other */
    visibility: unset;
}

@keyframes dotIndicator {
    0% {
        opacity: 1;
    }
    49% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    99% {
        opacity: 0;
    }
}



  /*$$$$$                      /$$                
 /$$__  $$                    | $$                
| $$  \__/ /$$$$$$$   /$$$$$$ | $$   /$$  /$$$$$$ 
|  $$$$$$ | $$__  $$ |____  $$| $$  /$$/ /$$__  $$
 \____  $$| $$  \ $$  /$$$$$$$| $$$$$$/ | $$$$$$$$
 /$$  \ $$| $$  | $$ /$$__  $$| $$_  $$ | $$_____/
|  $$$$$$/| $$  | $$|  $$$$$$$| $$ \  $$|  $$$$$$$
 \______/ |__/  |__/ \_______/|__/  \__/ \______*/

/* Snake menu */
#snakeMenu {
    /* Size */
    width: fit-content;
}

.snakeInfo {
    /* Spacing */
    margin-top: -10px;

    /* Layout */
    display: flex;
    flex-direction: column;
    gap: 10px;

    /* Text */
    font-family: roboto;
}

#snakeCanvas {
    /* Spacing */
    margin: 20px 0;

    /* Layout */
    position: relative;
    box-sizing: border-box;

    /* Visuals */
    border: var(--border);
}

.snakeControls {
    /* Size */
    min-width: 80%;

    /* Spacing */
    margin-bottom: 20px;

    /* Layout */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.snakeControlsArrows {
    /* Layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.snakeControlsArrow {
    /* Size */
    width: 40px;
    height: 40px;

    /* Visuals */
    filter: var(--textFilter);
}

.snakeControlsArrow[up] {
    /* Other */
    rotate: 90deg;
}

.snakeControlsArrow[down] {
    /* Other */
    rotate: -90deg;
}

.snakeControlsArrow[right] {
    /* Other */
    rotate: 180deg;
}

img.snakeControlsArrow {
    /* Other */
    cursor: pointer;
}

/* AFK popup */
#snakeAFK {
    /* Spacing */
    padding: 20px;
    padding-right: 130px;

    /* Layout */
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;

    /* Visuals */
    background-color: var(--bg);
    border: var(--border);
    border-radius: 20px;
    opacity: 0;
    
    /* Other */
    z-index: 500;
    cursor: pointer;
    pointer-events: none;
}

#snakeAFK[open] {
    /* Visuals */
    animation: snakeAFK 1s forwards;
    
    /* Other */
    pointer-events: unset;
}

@keyframes snakeAFK {
    0% {
        transform: translateX(20px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

#snakeAFK > img {
    /* Size */
    width: 100px;
    height: 100px;

    /* Layout */
    position: absolute;
    bottom: 10px;
    right: 10px;

    /* Visuals */
    border-radius: 10px;
}



  /*$$$$$                        /$$                           /$$    
 /$$__  $$                      | $$                          | $$    
| $$  \__/  /$$$$$$  /$$$$$$$  /$$$$$$    /$$$$$$  /$$$$$$$  /$$$$$$  
| $$       /$$__  $$| $$__  $$|_  $$_/   /$$__  $$| $$__  $$|_  $$_/  
| $$      | $$  \ $$| $$  \ $$  | $$    | $$$$$$$$| $$  \ $$  | $$    
| $$    $$| $$  | $$| $$  | $$  | $$ /$$| $$_____/| $$  | $$  | $$ /$$
|  $$$$$$/|  $$$$$$/| $$  | $$  |  $$$$/|  $$$$$$$| $$  | $$  |  $$$$/
 \______/  \______/ |__/  |__/   \___/   \_______/|__/  |__/   \__*/

/* Content container */
#content {
    /* Size */
    flex: 1;
    min-height: 100%;

    /* Spacing */
    margin-left: var(--sidebarSpacing);

    /* Layout */
    position: relative;
}

/* Page */
.page {
    /* Size */
    width: 100%;
    min-height: 100vh;

    /* Spacing */
    padding: 70px 12vw;

    /* Layout */
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: calc(2 * var(--pageSpacing));
}

@media screen and (orientation:portrait) {
    .page {
        /* Spacing */
        padding: 120px 5vw;
    }
}

.pageTop {
    /* Layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

    /* Text */
    font-family: phonk;
    font-size: min(3em, 6.5vw);
}

.pageTop[small] {
    /* Other */
    scale: 0.7;
}

@media screen and (orientation:portrait) {
    .pageTop {
        /* Layout */
        gap: 10px;
    }
}

.pageTitleShapes {
    /* Size */
    height: 0.5lh;
    aspect-ratio: 1;

    /* Layout */
    position: relative;
}

@media screen and (orientation:portrait) {
    .pageTitleShapes {
        /* Size */
        height: 0.6lh;
    }
}

.pageTitleShapes img {
    /* Size */
    width: 100%;
    height: 100%;

    /* Layout */
    position: absolute;
    top: 0;
    left: 0;

    /* Filter */
    filter: var(--textFilter);

    /* Animation */
    --animationDuration: 20s;
    --shapesSize: 6;
    --shapeIndex: 0;
    animation: pageTitleShape var(--animationDuration) infinite ease-in-out;
    animation-delay: calc(var(--animationDuration) / var(--shapesSize) * var(--shapeIndex));

    /* Other */
    opacity: 0;
}

.pageTitleShapes img:nth-child(2) {
    /* Animation */
    --shapeIndex: 1;
}

.pageTitleShapes img:nth-child(3) {
    /* Animation */
    --shapeIndex: 2;
}

.pageTitleShapes img:nth-child(4) {
    /* Animation */
    --shapeIndex: 3;
}

.pageTitleShapes img:nth-child(5) {
    /* Animation */
    --shapeIndex: 4;
}

.pageTitleShapes img:nth-child(6) {
    /* Animation */
    --shapeIndex: 5;
}

@keyframes pageTitleShape {
    0% {
        opacity: 0;
        rotate: -90deg;
    }
    3% {
        opacity: 1;
        rotate: 0deg;
    }
    17% {
        opacity: 1;
        rotate: 0deg;
    }
    20% {
        opacity: 0;
        rotate: 90deg;
    }
    100% {
        opacity: 0;
        rotate: -90deg;
    }
}

.pageTitleSlash {
    /* Size */
    width: 2px;
    height: 0.65lh;

    /* Spacing */
    margin: 0 10px;

    /* Layout */
    rotate: 20deg;

    /* Other */
    background-color: var(--text);
}

@media screen and (orientation:portrait) {
    .pageTitleSlash {
        /* Layout */
        margin: 0 5px;
    }
}

.pageTitleLine {
    /* Size */
    height: 2px;
    flex-grow: 1;

    /* Other */
    background: var(--text);
}

/* Next page arrow */
.nextArrow {
    /* Size */
    width: 40px; 
    aspect-ratio: 1; 
    
    /* Layout */
    position: absolute; 
    bottom: 40px; 
    left: calc(50% - 20px);
    rotate: -90deg;
    
    /* Visuals */
    filter: var(--textFilter);

    /* Other */
    cursor: pointer;
    animation: nextArrowBounce 4s infinite ease-in-out;
}

@media screen and (orientation:portrait) {
    .nextArrow {
        /* Layout */
        display: none;
    }
}

@keyframes nextArrowBounce {
    0% {
        transform: translateX(0);
    }
    2.5% {
        transform: translateX(30px);
    }
    5% {
        transform: translateX(0);
    }
    7% {
        transform: translateX(15px);
    }
    9% {
        transform: translateX(0);
    }
    10.5% {
        transform: translateX(5px);
    }
    12% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}



 /*$   /$$                                  
| $$  | $$                                  
| $$  | $$  /$$$$$$  /$$$$$$/$$$$   /$$$$$$ 
| $$$$$$$$ /$$__  $$| $$_  $$_  $$ /$$__  $$
| $$__  $$| $$  \ $$| $$ \ $$ \ $$| $$$$$$$$
| $$  | $$| $$  | $$| $$ | $$ | $$| $$_____/
| $$  | $$|  $$$$$$/| $$ | $$ | $$|  $$$$$$$
|__/  |__/ \______/ |__/ |__/ |__/ \______*/

#home {
    /* Layout */
    align-items: center;
}

#home > canvas {
    /* Size */
    width: 100%;
    height: 100%;

    /* Layout */
    position: absolute;

    /* Other */
    z-index: -1;
    pointer-events: none;
}

.homeText {
    /* Layout */
    display: flex; 
    flex-direction: column;
    align-items: center;
}

#homeText1 {
    /* Spacing */
    margin-right: auto;
    
    /* Text */
    font-family: roboto;
    font-size: 1em;
}

#homeText2 {
    /* Text */
    font-family: phonk;
    font-size: min(4em, 4.5vw);
    white-space: nowrap;
}

@media screen and (orientation:portrait) {
    #homeText2 {
        /* Text */
        font-size: 6.5vw;
    }
}

#homeText3 {
    /* Spacing */
    margin-left: auto;

    /* Text */
    font-family: roboto;
    font-size: 1em;
}

@media screen and (orientation:portrait) {
    #homeText1, #homeText3 {
        /* Text */
        font-size: 0.8em;
    }
}



  /*$$$$$  /$$                             /$$    
 /$$__  $$| $$                            | $$    
| $$  \ $$| $$$$$$$   /$$$$$$  /$$   /$$ /$$$$$$  
| $$$$$$$$| $$__  $$ /$$__  $$| $$  | $$|_  $$_/  
| $$__  $$| $$  \ $$| $$  \ $$| $$  | $$  | $$    
| $$  | $$| $$  | $$| $$  | $$| $$  | $$  | $$ /$$
| $$  | $$| $$$$$$$/|  $$$$$$/|  $$$$$$/  |  $$$$/
|__/  |__/|_______/  \______/  \______/    \__*/  

#about {
    /* Layout */
    flex-direction: row;
    align-items: center;
    gap: calc(3 * var(--pageSpacing));
}

@media screen and (orientation:portrait) {
    #about {
        /* Layout */
        flex-direction: column-reverse;
    }
}

.aboutTextBox {
    /* Size */
    width: 0;
    flex-grow: 1;

    /* Text */
    text-align: justify;

    /* Layout */
    display: flex;
    flex-direction: column;
    gap: calc(2 * var(--pageSpacing));
}

@media screen and (orientation:portrait) {
    .aboutTextBox {
        width: 100%;
        flex-grow: unset;
    }
}

.aboutImgBox {
    /* Size */
    height: 55vh;
    width: 42vh;

    /* Layout*/
    position: relative;

    /* Other */
    border: 1px solid var(--text);
    border-radius: 20px;
    cursor: pointer;
}

@media screen and (orientation:portrait) {
    .aboutImgBox {
        /* Size */
        height: min(50vh, 65vw);
        width: min(50vh, 100%);
    }
}

#aboutImg {
    /* Size */
    height: calc(100% - 30px);
    width: calc(100% - 30px);

    /* Spacing */
    margin: 15px;

    /* Other */
    border-radius: 10px;
    object-fit: cover;
    filter: blur(0px);
    opacity: 1;
    transition: filter .4s, opacity .4s;
}

#aboutImg[loading] {
    /* Other */
    filter: blur(12px);
    opacity: 0;
}

#aboutImg[clicked] ~ #aboutImgNext {
    /* Other */
    opacity: 0;
}

#aboutImgName, 
#aboutImgNext {
    /* Spacing */
    padding: 5px 20px;

    /* Layout */
    position: absolute;
    right: -1px;
    bottom: -1px;

    /* Text */
    line-height: 2em;
    font-size: 0.8em;
    font-family: orbitron;
    text-transform: uppercase;
    pointer-events: none;

    /* Visuals */
    background: var(--text);
    color: var(--bg);
    border-radius: 20px 0;

    /* Other */
    transition: opacity .2s;
}

#aboutImgNext {
    /* Layout */
    left: -1px;
    right: auto;
    top: -1px;
    bottom: auto;
}



  /*$$$$$  /$$       /$$ /$$ /$$          
 /$$__  $$| $$      |__/| $$| $$          
| $$  \__/| $$   /$$ /$$| $$| $$  /$$$$$$$
|  $$$$$$ | $$  /$$/| $$| $$| $$ /$$_____/
 \____  $$| $$$$$$/ | $$| $$| $$|  $$$$$$ 
 /$$  \ $$| $$_  $$ | $$| $$| $$ \____  $$
|  $$$$$$/| $$ \  $$| $$| $$| $$ /$$$$$$$/
 \______/ |__/  \__/|__/|__/|__/|______*/ 

/* Skills */
#skills {
    --skills1: 85%; /* Videogames */
    --skills2: 63%; /* UI/UX Design */
    --skills3: 65%; /* Web Development */
    --skills4: 70%; /* Apps Development */
    --skills5: 45%; /* 3D Modeling/Printing & CAD */
    --skills6: 30%; /* Art & Media */
}

/* Title */
.skillsTextBox {
    /* Layout */
    display: flex;
    flex-direction: column;
    gap: calc(2 * var(--pageSpacing));
}

#skillsDescription {
    /* Text */
    text-align: justify;
}

@media screen and (orientation:landscape) {
    #skillsDescription {
        /* Layout */
        margin-right: calc(30%);
    }
}

/* Skill bars */
.skillsBars {
    /* Layout */
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.skillsBar {
    /* Layout */
    display: flex;
    flex-direction: column;
    
    /* Text */
    font-family: roboto;
    font-size: 0.8em;
    font-weight: 600;
    color: var(--textAlt);
}

.skillsBar div:nth-of-type(1) {
    /* Layout */
    display: flex;
    align-items: center;
}

.skillsBar div:nth-of-type(1) span:nth-of-type(1) {
    /* Text */
    font-family: phonk;
    font-size: 1.2em;
    font-weight: 500;
    color: var(--text);
}

.skillsBar div:nth-of-type(1) span:nth-of-type(2) {
    /* Layout */
    margin-left: auto;

    /* Text */
    font-size: 1em;
}

.skillsBar div:nth-of-type(2) {
    /* Size */
    height: 5px;
    width: 100%;

    /* Layout */
    margin: 7px 0 4px 0;

    /* Other */
    background-color: var(--textAlt);
    border-radius: 5px;
}

.skillsBar div:nth-of-type(2) > div {
    /* Size */
    height: 5px;
    width: 0;

    /* Layout */
    margin: 0;

    /* Other */
    background-color: var(--text);
    border-radius: 5px;
    transition: width 1s;
}



 /*$$$$$$                                               /$$             
| $$__  $$                                             | $$             
| $$  \ $$ /$$$$$$   /$$$$$$  /$$  /$$$$$$   /$$$$$$$ /$$$$$$   /$$$$$$$
| $$$$$$$//$$__  $$ /$$__  $$|__/ /$$__  $$ /$$_____/|_  $$_/  /$$_____/
| $$____/| $$  \__/| $$  \ $$ /$$| $$$$$$$$| $$        | $$   |  $$$$$$ 
| $$     | $$      | $$  | $$| $$| $$_____/| $$        | $$ /$$\____  $$
| $$     | $$      |  $$$$$$/| $$|  $$$$$$$|  $$$$$$$  |  $$$$//$$$$$$$/
|__/     |__/       \______/ | $$ \_______/ \_______/   \___/ |_______/ 
                        /$$  | $$                                       
                       |  $$$$$$/                                       
                        \_____*/                                        

/* Projects filter */
#projectsFilters {
    /* Spacing */
    margin: 20px auto;

    /* Layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#projectsFilters > span {
    /* Text */
    font-family: phonk;
    font-size: 1.4em;
}

#projectsFilters > div {
    /* Layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;

    /* Text */
    word-wrap: normal;
}

#projectsFilters > div > span {
    /* Layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

    /* Text */
    word-wrap: normal;
}

/* Projects list */
#projectsList {
    /* Layout */
    display: flex;
    flex-direction: column;
    gap: calc(100px);
}

/* Filters menu tags list */
#filterMenuTags {
    /* Size */
    width: 100%;

    /* Spacing */
    margin-bottom: 20px;
    padding: 0 20px;

    /* Layout */
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

/* Projects */
.project {
    /* Size */
    height: min-content;

    /* Layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

@media screen and (orientation:landscape) {
    .project[reverse] {
        /* Layout */
        flex-direction: row-reverse;
    }
}

@media screen and (orientation:portrait) {
    .project {
        /* Layout */
        flex-direction: column;
    }
}

/* Projects -> Media */
.projectMedia {
    /* Size */
    height: 100%;
    width: 65%;

    /* Layout */
    box-sizing: border-box;
    display: flex;
    align-items: center;
    position: relative;

    /* Visuals */
    border: 1px solid var(--text);
    border-radius: 20px;

    /* Other */
    transition: border .2s, margin-bottom .2s;
}

@media screen and (orientation:portrait) {
    .projectMedia {
        /* Size */
        width: 100%;
    }
}

.projectMedia[video] {
    /* Visuals */
    border: 1px solid transparent;
}

@media screen and (orientation:landscape) {
    .projectMedia:hover:not([video]) {
        /* Visuals */
        border: 1px solid transparent;
    }
}

@media screen and (orientation:portrait) {
    .projectMedia[video][hasvideo] {
        /* Spacing */
        margin-bottom: 35px;
    }
}

/* Projects -> Media -> Scope */
.projectScope {
    /* Spacing */
    padding: 5px 20px;

    /* Layout */
    position: absolute;
    top: -1px;
    left: -1px;

    /* Text */
    line-height: 2em;
    font-size: 0.7em;
    font-family: orbitron;
    text-transform: uppercase;
    pointer-events: none;

    /* Visuals */
    background: var(--text);
    color: var(--bg);
    border-radius: 20px 0;

    /* Other */
    z-index: 2;
    transition: opacity .2s;
}

.projectScope[hidden] {
    /* Layout */
    display: none;
}

.projectMedia[video] .projectScope {
    /* Visuals */
    opacity: 0;

    /* Other */
    pointer-events: none;
}

@media screen and (orientation:landscape) {
    .projectMedia:hover:not([video]) .projectScope {
        /* Visuals */
        opacity: 0;

        /* Other */
        pointer-events: none;
    }

    .project[reverse] .projectScope {
        /* Layout */
        left: unset;
        right: -1px;

        /* Text */
        text-align: end;
        
        /* Visuals */
        border-radius: 0 20px;
    }
}

/* Projects -> Media -> Actions (video & fullscreen buttons) */
.projectActions {
    /* Size */
    width: 100%;

    /* Layout */
    position: absolute;
    bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    /* Other */
    z-index: 2;
    transition: transform .2s;
    --translate: 60px;
}

.projectMedia[video] .projectActions {
    /* Other */
    transform: translateY(var(--translate));
}

.projectActionButton {
    /* Spacing */
    padding: 10px;

    /* Layout */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    /* Visuals */
    background-color: var(--bg);
    border: var(--border);
    border-radius: 30px;

    /* Other */
    cursor: pointer;
    transition: margin-left .2s, opacity .2s;
}

.projectMedia[video] .projectActionButton[hidevideo] {
    /* Spacing */
    margin-left: -55px;
    
    /* Visuals */
    opacity: 0;

    /* Other */
    pointer-events: none;
}

.projectActionButton > img {
    /* Size */
    width: 1lh;
    height: 1lh;

    /* Spacing */
    padding: 2px;
    
    /* Visuals */
    filter: var(--textFilter);

    /* Layout */
    box-sizing: border-box;
}

.projectVideoButton {
    /* Spacing */
    padding: 10px 15px;
}

.projectMedia:not([hasvideo]) .projectVideoButton {
    /* Layout */
    display: none;
}

/* Projects -> Media -> Dummy */
.projectMediaDummy {
    /* Size */
    width: calc(100% - 40px);
    aspect-ratio: 16/9;

    /* Spacing */
    margin: 20px;
}

/* Projects -> Media -> Content */
.projectMediaContent {
    /* Size */
    width: calc(100% - 40px);
    aspect-ratio: 16/9;

    /* Layout */
    position: absolute;
    top: auto;
    bottom: auto;
    left: 20px;
    right: 20px;

    /* Visuals */
    background-color: var(--bg);
    border-radius: 10px;

    /* Other */
    overflow: hidden;
    transition: width .2s, left .2s, right .2s, border-radius .2s;
}

.projectMedia[video] > .projectMediaContent {
    /* Size */
    width: 100%;

    /* Layout */
    left: 0;
    right: 0;

    /* Visuals */
    border-radius: 20px;
}

@media screen and (orientation:landscape) {
    .projectMedia:hover:not([video]) > .projectMediaContent {
        /* Size */
        width: 100%;

        /* Layout */
        left: 0;
        right: 0;

        /* Visuals */
        border-radius: 20px;
    }
}

/* Projects -> Media -> Content -> Image/Video */
.projectMediaContent > img {
    /* Size */
    width: 100%;
    height: 100%;

    /* Other */
    object-fit: cover;
}

.projectMediaContent > iframe {
    /* Size */
    width: 100%;
    height: 100%;

    /* Spacing */
    margin: 0;
    padding: 0;

    /* Layout */
    position: absolute;
    top: 0;
    left: 0;
    display: none;

    /* Visuals */
    border: none;
}

.projectMedia[video] > .projectMediaContent > iframe {
    /* Layout */
    display: flex;
}

/* Projects -> Info */
.projectInfo {
    /* Size */
    width: 50%;
    
    /* Spacing */
    --prMargin: -10%;
    margin-left: var(--prMargin);

    /* Layout */
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-end;

    /* Text */
    text-align: end;

    /* Other */
    z-index: 2;
    transition: opacity .2s, z-index 0s;
}

@media screen and (orientation:landscape) {
    .project[reverse] > .projectInfo {
        /* Spacing */
        margin-left: 0;
        margin-right: var(--prMargin);
        align-items: flex-start;

        /* Text */
        text-align: start;
    }

    .projectMedia:hover + .projectInfo,
    .projectMedia[video] + .projectInfo {
        /* Visuals */
        opacity: .6;

        /* Other */
        z-index: -1;
    }
}

@media screen and (orientation:portrait) {
    .projectInfo {
        /* Size */
        width: 100%;

        /* Spacing */
        --prMargin: 0;
        margin-top: 20px;
    }
}

/* Projects -> Info -> Tags */
.projectTags {
    /* Layout */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: end;
    gap: 10px;
}

@media screen and (orientation:landscape) {
    .project[reverse] .projectTags {
        /* Layout */
        justify-content: start;
    }
}

@media screen and (orientation:portrait) {
    .projectTags {
        /* Size */
        width: 100%;

        /* Layout */
        justify-content: center;
    }
}

/* Projects (description -> content) */
.projectInfoContent {
    /* Size */
    width: 100%;
    
    /* Spacing */
    padding: 20px;

    /* Layout */
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;

    /* Visuals */
    background-color: var(--bg);
    border: var(--border);
    border-radius: 20px;

    /* Other */
    pointer-events: auto;
}

@media screen and (orientation:portrait) {
    .projectInfoContent {
        /* Spacing */
        padding: 0;

        /* Visuals */
        background-color: unset;
        border: unset;
        border-radius: unset;
    }
}

.projectInfoContent > div:nth-child(1) {
    /* Size */
    width: 100%;

    /* Layout */
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

@media screen and (orientation:landscape) {
    .project[reverse] .projectInfoContent > div:nth-child(1) {
        /* Layout */
        flex-direction: row;
    }
}

.projectInfoContent > div:nth-child(1) > span:nth-child(1) {
    /* Size */
    flex: 1;

    /* Text */
    font-family: phonk;
    font-size: 1.46rem;
}

.projectInfoContent > div:nth-child(1) > span:nth-child(2) {
    /* Spacing */
    margin: -5px 0;

    /* Text */
    color: var(--textAlt);
    font-family: roboto;
    font-size: .86rem;
}

.projectInfoContent > span:nth-child(2) {
    /* Text */
    text-align: justify;
}

/* Projects (description -> buttons) */
.projectButtons {
    /* Layout */
    display: flex;
    flex-direction: row;
    gap: 20px;

    /* Other */
    pointer-events: auto;
}

/* Project tags */
.projectTag {
    /* Size */
    width: max-content;
    height: fit-content;

    /* Spacing */
    padding: 8px 12px;

    /* Layout */
    box-sizing: border-box;
    position: relative;

    /* Text */
    font-family: roboto;
    font-size: .86rem;
    font-weight: 500;

    /* Visuals */
    background-color: var(--bg);
    color: var(--text);
    border-radius: 50px;
    border: var(--border);

    /* Other */
    cursor: pointer;
    transition: border .2s;
}

.projectTag:hover {
    /* Visuals */
    border: solid 2px var(--text);
}

.projectTag::after {
    content: '';

    /* Layout */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: inherit;

    /* Other */
    transition: background-color .2s;
}

.projectTag:hover::after {
    /* Visuals */
    background-color: var(--hover);
}

/* Projects none */
.projectsNone {
    /* Size */
    width: 100%;

    /* Text */
    text-align: center;
}

.projectsNone > div:nth-child(1) {
    /* Text */
    font-size: 100px;
}

/* Show more button */
#projectsMore {
    /* Spacing */
    margin: 20px auto;
}

@media screen and (orientation:portrait) {
    #projectsMore {
        /* Spacing */
        margin: 50px auto -50px auto;
    }
}

/* Fullscreen image */
#projectsFullscreen {
    /* Size */
    width: 100%;
    height: 100%;

    /* Layout */
    position: fixed;
    top: 0;
    left: 0;

    /* Visuals */
    background-color: var(--bg);
    opacity: 0;

    /* Other */
    z-index: 999;
    pointer-events: none;
    transition: opacity .2s, pointer-events .2s;
}

#projectsFullscreen[show] {
    /* Visuals */
    opacity: 1;

    /* Other */
    pointer-events: unset;
}

#projectsFullscreenImage {
    /* Size */
    height: 100%;
    width: 100%;

    /* Other */
    object-fit: contain;
}



 /*$$$$$$$                    /$$                        
| $$_____/                   | $$                        
| $$     /$$$$$$   /$$$$$$  /$$$$$$    /$$$$$$   /$$$$$$ 
| $$$$$ /$$__  $$ /$$__  $$|_  $$_/   /$$__  $$ /$$__  $$
| $$__/| $$  \ $$| $$  \ $$  | $$    | $$$$$$$$| $$  \__/
| $$   | $$  | $$| $$  | $$  | $$ /$$| $$_____/| $$      
| $$   |  $$$$$$/|  $$$$$$/  |  $$$$/|  $$$$$$$| $$      
|__/    \______/  \______/    \___/   \_______/|_*/      

.footer {
    /* Spacing */
    padding: 25px 15vw;

    /* Layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    /* Other */
    border-top: var(--border);
}

@media screen and (orientation:portrait) {
    .footer {
        /* Spacing */
        padding: 20px 5vw;
    }
}

.footerContacts {
    /* Layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.footerContact {
    /* Size */
    width: 28px;
    width: 28px;

    /* Other */
    cursor: pointer;
}

.footerContact > img {
    /* Size */
    width: inherit;
    height: inherit;

    /* Other */
    filter: var(--textFilter);
    transition: filter .2s, -webkit-filter .2s, transform .2s;
}

.footerContact:hover > img {
    /* Other */
    transform: translateY(-3px);
}

.footerQuote {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

#footerQuoteFrom {
    /* Text */
    font-family: lemon;
    font-size: 1.2em;
}

#footerQuoteText {
    /* Text */
    font-family: lemon;
    font-size: 1.8em;
    text-align: center;
}

#footerCredits {
    /* Spacing */
    margin-top: 10px; 

    /* Text */
    font-size: 0.8em; 
    text-align: center; 
}